/* TODO: Tailwind CSS 入れる */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
@import '../styles/base/_variables.css';
@import '../styles/base/_reset.css';

body {
  background-color: var(--color-primary);
  color: white;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}