/* Base */
@use '../styles/base/variables' as *;
@use '../styles/base/reset' as *;

// 変数
$transition-base: 0.3s ease;

html {
  font-size: 100%;
}

html[data-font-size='large'] {
  font-size: 120%;
}

html[data-font-size='xlarge'] {
  font-size: 150%;
}

html[data-font-size='xxlarge'] {
  font-size: 150%;
}

body {
  background-color: var(--mt-surface-felt);
  color: var(--mt-text-primary);
  font-family: var(--mt-font-body);
  transition:
    background-color $transition-base,
    color $transition-base;
}

h1,
h2,
h3,
h4 {
  font-family: var(--mt-font-heading);
}
