.container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 0.5rem;

  @media (max-width: 768px) {
    bottom: 0.5rem;
    right: 0.5rem;
  }
}
