.gameInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.gameInfoContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.gameInfoTrump {
  
}

.gameInfoTrumpText {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.gameInfoScores {
  display: flex;
  gap: var(--spacing-md);
}

.gameInfoScoreText0 {
  font-weight: bold;
  font-size: 1.1rem;
}

.gameInfoScoreText1 {
  font-weight: bold;
  font-size: 1.1rem;
}

.leaveButton {
  color: #000;
  background-color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  }
}

@media (max-width: 768px) {
  .gameInfoContainer {
    padding: 8px 12px;
  }
}
