.gameLayout {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerPositions {
  position: relative;
  display: grid;
  grid-template-areas:
    ".    top     ."
    "left field right"
    ".    bottom  .";
  grid-template-columns: 300px 120px 300px;
  grid-template-rows: 180px 150px 200px;
  gap: var(--spacing-lg);
  justify-content: center;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .playerPositions {
    grid-template-columns: 140px 50px 140px;
    grid-template-rows: 0px 150px 335px;
    gap: var(--spacing-md);
    margin-top: 150px;
  }
}