.card {
  width: 1.8rem;
  height: 2.5rem;
  background: white;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  transition: transform 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 -10px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.card:hover {
  transform: translateY(-4px) scale(1.1);
  z-index: 1;
}

@media (max-width: 768px) {
  .card {
    width: 1.5rem;
    height: 2.25rem;
    margin: 0 -8px;
  }
}
