.card {
  width: 1.8rem;
  height: 2.5rem;
  background: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px;
  font-size: 0.75rem;
  transition: transform 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 -10px;
}

.card:hover {
  transform: translateY(-4px) scale(1.1);
  z-index: 1;
}

.rank {
  font-weight: bold;
  line-height: 1;
}

.suit {
  font-size: 1rem;
  line-height: 1;
}

.redSuit {
  color: red;
}

.blackSuit {
  color: black;
}

.joker {
  /* background: linear-gradient(135deg, #f6d365 0%, #fda085 100%); */
}

.jokerRank {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.4rem;
  letter-spacing: -1px;
  margin-left: 2px;
  font-weight: bold;
  color: purple;
}

@media (max-width: 768px) {
  .card {
    width: 1.5rem;
    height: 2.25rem;
    font-size: 0.8rem;
    padding: 1px;
    margin: 0 -8px;
  }

  .suit {
    font-size: 1rem;
  }

  .jokerRank {
    font-size: 0.4rem;
    margin-left: 1px;
  }
}
