.negriCardDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.negriField {
  /* display: grid; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
}

.negriCard {
  width: 2rem;
  height: 3rem;
}

.cardFaceDown {
  width: 2rem;
  height: 3rem;
  margin: 0 -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  background: linear-gradient(45deg, #1a237e, #283593);
  font-size: 1.5rem;
  border-radius: 0.25rem;
}