.completedFieldsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0 12px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 16px;
  padding: 8px 16px;
  width: 526px;
}

.completedField {
  /* 5個ごとに折り返すために20%の幅を指定 */
  flex: 0 0 calc(20% - 9.6px); /* (gap * 4) / 5 = 9.6px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6px;
  border-radius: 4px;
  padding: 8px;
}

.winnerName {
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  padding: 4px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70px;
}

.cards {
  display: flex;
  gap: 4px;
  justify-content: center;
}

@media (max-width: 768px) {
  .completedFieldsContainer {
    gap: 8px;
    padding: 8px;
    width: 300px;
  }

  .completedField {
    /* 3個ごとに折り返すために33.333%の幅を指定 */
    flex: 0 0 calc(33.333% - 5.33px); /* (gap * 2) / 3 = 5.33px */
  }

  .winnerName {
    font-size: 0.7rem;
    padding: 2px;
  }

  .cards {
    gap: 2px;
  }
}